_builds/
output/

desktop.ini
ffmpeg

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store
squonker

# ignore all squad directories except for our shipped examples
# (in the case where you sync or fetch squads from a remote repo)
squad.*/
!squad.examples/
